<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/css/style.css' />

    <script>
        function Edit(id) {
            window.location.href = "/products/edit?id=" + id;
        }
        
        function Delete(id) {
            var rs = confirm('Confirm to delete?');
            if (rs) {
               window.location.href = "/products/delete?id=" + id;
            }
        }
        function Add(){
            window.location.href = "/products/add";
        }
    </script>
</head>

<body>
    <div class="container">
       <div justify-content-between> 
            <h1 class="text-center d-4">Product - List</h1>
            <input type="button" name="add" value="Add" class="btn btn-danger" onclick="Add();" />
       </div>
       <table class="table table-striped">
            <thead class="bg-info">
                <tr>
                    <th scope="row" class="align-middle m-2">Product ID</th>
                    <th scope="row" class="align-middle m-2">Product Name</th>
                    <th scope="row" class="align-middle m-2">Price</th>
                    <th scope="row" class="align-middle m-2">Action</th>
                </tr>
    
            </thead>
            <tbody>
                <% for ( var i = 0 ; i < data.length ; i++){ %>
                <tr>
                    <td class="align-middle">
                        <%= data[i].id  %>
                    </td>
                    <td  class="align-middle">
                        <%= data[i].name  %>
                    </td>
                    <td  class="align-middle">
                        <%= data[i].price  %>
                    </td>
                    <td  class="align-middle">
                        <input type="button" name="edit" value="Edit" class="btn btn-success btn-sm" onclick="Edit('<%= data[i].id  %>');" />
                        <input type="button" name="delete" value="Del" class="btn btn-warning btn-sm" onclick="Delete('<%= data[i].id  %>');" />
                    </td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/js/jquery-3.3.1.slim.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>

</html>