<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon"> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script>
        function Edit(uid) {
            window.location.href = "/users/edit?uid=" + uid;
        }
        
        function Delete(uid) {
            var rs = confirm('Confirm to delete?');
            if (rs) {
               window.location.href = "/users/delete?uid=" + uid;
            }
        }
        function Add(){
            window.location.href = "/users/add";
        }
    </script>
</head>

<body>
    <div class="container">
       <div justify-content-between> 
            <h1 class="text-center d-4">User - List</h1>
            <input type="button" name="add" value="Add" class="btn btn-danger" onclick="Add();" />
       </div>
       <table class="table table-striped">
            <thead class="bg-info">
                <tr>
                    <th scope="row" class="align-middle m-2">User ID</th>
                    <th scope="row" class="align-middle m-2">User Name</th>
                    <th scope="row" class="align-middle m-2">User Email</th>
                    <th scope="row" class="align-middle m-2">User Password</th>
                    <th scope="row" class="align-middle m-2">Action</th>
                </tr>
    
            </thead>
            <tbody>
                <% for ( var i = 0 ; i < data.length ; i++){ %>
                <tr>
                    <td class="align-middle">
                        <%= data[i].uid  %>
                    </td>
                    <td  class="align-middle">
                        <%= data[i].name  %>
                    </td>
                    <td  class="align-middle">
                        <%= data[i].email  %>
                    </td>
                    <td  class="align-middle">
                        <%= data[i].pwd  %>
                    </td>
                    <td  class="align-middle">
                        <input type="button" name="edit" value="Edit" class="btn btn-success btn-sm" onclick="Edit('<%= data[i].uid  %>');" />
                        <input type="button" name="delete" value="Del" class="btn btn-warning btn-sm" onclick="Delete('<%= data[i].uid  %>');" />
                    </td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>
    

</body>

</html>
