<!DOCTYPE html>
<html>

<head>
    <% path = '../../../partials/' %>
    <%- include(path + 'head') %>
    
    <script type="text/javascript">
        function Check() {
            var id = document.getElementsByName('id')[0].value;
            var name = document.getElementsByName('name')[0].value;
            if (id && name && price) {
                return true;
            }
            alert('please input the info.');
            return false;
        }
    </script>
</head>

<body>

    <form name="editform" action="/products/update" method="post" accept-charset="utf-8" onSubmit="return Check();">
        <h1 class="text-center d-4">Product - Edit</h1>
        <div class="form-group">
            <label for="idInput">Product ID：</label>
            <input type="text" class="form-control" id="idInput" name="id" value="<%=data[0].id %>"
                aria-describedby="idNameHelp" placeholder="Product ID" readonly>
        </div>
        <div class="form-group">
            <label for="prodNameInput">Product Name：</label>
            <input type="text" class="form-control" id="prodNameInput" name="name" value="<%=data[0].name %>"
                aria-describedby="prodNameHelp" placeholder="Product Name">
        </div>
        <div class="form-group">
            <label for="priceInput">Price</label>
            <input type="text" class="form-control" id="priceInput" name="price" value="<%=data[0].price %>"
                placeholder="Price">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <!-- JavaScript -->
    <%- include(path + 'JavaScript') %>
</body>

</html>
